.dropdown-menu {
    background: #F1F0F8;
    .dropdown-item {
        color: #000;
        font-weight: bold;
        &:hover {
            background: none;
            color: $primary;
        }
    }
}