.filterModal {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    z-index: 20;
    left: 0;
    top: 0;
    &__body {
        height: 100%;
        overflow-y: auto;
    }
}

.filterModal.show {
    max-height: 100%;
    overflow: visible;
}