.rowCard {
    box-shadow: 0px 4px 0px #F1F0F8;
    margin-bottom: 4px;
    @media screen and(min-width: 768px) {
        padding-bottom: 17px;
        box-shadow: none;
        border-bottom: 1px solid #F1F0F8;
        margin-top: 16px;
    }
    @media screen and(min-width: 960px) {
        padding-bottom: 24px;
    }
    &:last-child {
        box-shadow: none;
        border-bottom: none;
    }
    &:first-child {
        margin-top: 0;
    }
    .title {
        font-size: 16px;
        margin-bottom: 4px;
        @media screen and(min-width: 768px) {
            margin-bottom: 8px;
        }
        @media screen and(min-width: 960px) {
            font-size: 24px;
            margin-bottom: 16px;
        }
    }
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        @media screen and(min-width: 960px) {
            width: 255px;
            height: 175px;
        }
    }
    .price {
        @media screen and(min-width: 960px) {
            font-size: 24px;
        }
    }
    .delPrice {
        font-size: 12px;
        @media screen and(min-width: 768px) {
            font-size: 14px;
        }
        @media screen and(min-width: 960px) {
            font-size: 16px;
        }
    }
    .rwd-thead {
        @media screen and(max-width: 768px) {
            display: none;
        }
    }
}