/*------------------------------------*\
    $VALUABLE
\*------------------------------------*/

//- Color
$Primary: #AA0601;
$Secondary: #650300;


//- Media
$pc-media:960px;
$pcs-media:959px;
$pad-media:767px;
$pads-media:766px;
$phone-media:480px;
$phones-media:479px;