i.fa-icon {
  width: 50px;
  height: 50px;
  display: block;
}

i.icon-user {
  background: url('../images/icon/icon-user.svg') no-repeat center;
}

i.icon-vip {
  background: url('../images/icon/icon-vip.svg') no-repeat center;
}

i.icon-p-point {
  background: url('../images/icon/icon-p-point.svg') no-repeat center;
}

i.icon-close-btn {
  background: url('../images/icon/icon-close-btn.svg') no-repeat center;
}

i.icon-close-btn-orange {
  background: url('../images/icon/icon-close-btn-orange.svg') no-repeat center;
}

i.icon-close-btn-pink {
  background: url('../images/icon/icon-close-btn-pink.svg') no-repeat center;
}

i.icon-close-btn-black {
  background: url('../images/icon/icon-close-btn-black.svg') no-repeat center;
}

i.icon-close-btn-circle {
  background: url('../images/icon/icon-close-btn-circle.svg') no-repeat center;
}

i.icon-add-btn-circle {
  background: url('../images/icon/icon-add-btn-circle.svg') no-repeat center;
}

i.icon-arrow-right {
  background: url('../images/icon/icon-arrow-right.svg') no-repeat center;
}

i.icon-arrow-left {
  background: url('../images/icon/icon-arrow-left.svg') no-repeat center;
}

i.icon-arrow-left-orange {
  background: url('../images/icon/icon-arrow-left-orange.svg') no-repeat center;
}

i.icon-circle-arrow-right-blue-bg {
  background: url('../images/icon/icon-circle-arrow-right-blue-bg.svg') no-repeat center;
}

i.icon-arrow-left-white {
  background: url('../images/icon/icon-arrow-left-white.svg') no-repeat center;
}

i.icon-good {
  background: url('../images/icon/icon-good.svg') no-repeat center;
}

i.icon-bar {
  background: url('../images/icon/icon-bar.svg') no-repeat center;
}