.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 8px;
    .userCard {
        width: 24px;
        height: 24px;
        &-border-primary {
            border: 2px solid #6C51E2;
        }
    }
}