/* 共同 Class & 全域 CSS */

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #121212;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    transition: all .5s;
}


/* Icon */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


/* 共用 Class */

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.vw-100 {
    width: 100vw;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.word-break-all {
    word-break: break-all;
}

input:focus,
select:focus,
button:focus {
    outline: none
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.m-auto {
    margin: 0 auto;
}

.mr-auto {
    margin-right: auto;
}

.whiteRemind {
    color: white;
}

.redRemind {
    color: #C80000;
}

.yellowRemind {
    color: yellow;
}

.grayRemind {
    color: #c7c7c7;
}

.pinkRemind {
    color: rgb(237, 34, 115);
}

.warningRemind {
    color: #E3006E;
}

.whiteBg {
    background-color: white;
}

.text-white {
    color: white;
}

.text-black {
    color: #000000;
}

.text-white-2 {
    color: #FFFFFF99;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-line-through {
    text-decoration: line-through;
}

.blackRemind {
    color: #000000;
}

.height-auto {
    height: auto;
}

.max-height-auto {
    max-height: auto;
}

.max-height-none {
    max-height: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-fs {
    justify-content: flex-start;
}

.ai-fs {
    align-items: flex-start;
}

.ai-fe {
    align-items: flex-end;
}

.fd-r {
    flex-direction: row;
}

.fd-rr {
    flex-direction: row-reverse;
}

.fd-c {
    flex-direction: column;
}

.fw-w {
    flex-wrap: wrap;
}

.ai-c {
    align-items: center;
}

.aif-s {
    align-items: flex-start;
}

.jcs-a {
    justify-content: space-around;
}

.jcf-s {
    justify-content: flex-start;
}

.jcf-e {
    justify-content: flex-end;
}

.list-style-none {
    list-style: none;
}

.pl-0 {
    padding-left: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-end {
    text-align: end;
}

.m-0 {
    margin: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-2 {
    margin-top: 2rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.font-weight-bold {
    font-weight: bold;
}

.position-relative {
    position: relative;
}

.flex-basis-50w {
    flex-basis: 50%;
}

.fg-1 {
    flex-grow: 1;
}

.btn-orange {
    background-color: #ff9d00;
    border: #ff9d00;
    color: #FFFFFF;
    &:hover {
        color: #FFFFFF;
    }
}

.hrefText {
    color: #FFFFFF;
    text-decoration: none;
}

.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

.va-b {
    vertical-align: baseline
}

a {
    color: #000000;
    text-decoration: none;
}


/* Content */

// 彈窗
.modal {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    transition: all 250ms ease;
    overflow: auto;
    transform: scale(0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    .card {
        background-color: #FFFFFF;
        padding: 32px;
    }
    .close-btn {
        position: absolute;
        right: 32px;
        top: 32px;
    }
}

.modal-show {
    transform: scale(1, 1);
    pointer-events: all;
}

//- 客製化 CheckBox
.checkBoxArea {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .input {
            margin-right: 5px;
        }
        .label {
            margin-bottom: 0;
        }
        //- 客製化藍色的框
        .selectCheckBox {
            position: relative;
            margin-right: 5px;
            border: 2px solid #000000;
            background-color: #FFFFFF;
            width: 16px;
            height: 16px;
            transition: all .2s;
            text-align: center;
            &::before,
            &::after {
                position: absolute;
                width: 4px;
                background-color: #000000;
                box-sizing: border-box;
                display: inline-block;
                border-radius: 5px;
                transition: opacity ease .5;
                /* 設置轉換原點座標 */
                transform-origin: left top;
            }
            /* 短邊 */
            &::before {
                left: 0;
                top: 4px;
                transform: rotate(-45deg);
                z-index: 2;
            }
            /* 長邊 */
            &::after {
                left: 6px;
                top: 10px;
                transform: rotate(-135deg);
                z-index: 1;
            }
        }
        //- 注意 HTML 那邊的隱藏 Input 一定要在 Label 上面
        .input[type="checkbox"]:checked+.selectCheckBox::before {
            content: '';
            height: 8px;
            animation: do_before_check 0.2s ease 0s forwards;
        }
        .input[type="checkbox"]:checked+.selectCheckBox::after {
            content: '';
            height: 18px;
            animation: do_after_check 0.4s ease 0s forwards;
        }
    }
}

@keyframes do_before_check {
    0% {
        height: 0;
    }
    100% {
        height: 8px;
    }
}

@keyframes do_after_check {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 18px;
    }
}

//- 布幕
.darkScreen.show {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    z-index: 10;
    pointer-events: auto;
    top: 0;
    left: 0;
}

//- 購物車彈窗
.shoppingCartModal {
    position: fixed;
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 11;
    padding: 54px 48px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
}

.shoppingCartModal.show {
    width: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    @media screen and (min-width: 992px) {
        width: 540px;
    }
    .titleRow {
        margin-bottom: 28px;
    }
    //- 標題
    .title {
        font-size: 48px;
        font-weight: bold;
    }
    //- 關閉按鈕
    .closeIcon {
        font-size: 3rem;
    }
    .li {
        margin-bottom: 8px;
    }
    .goodLists {
        img {
            width: 96px;
            height: 96px;
            object-fit: cover;
            @media screen and (min-width: 992px) {
                width: 112px;
                height: 112px;
            }
        }
    }
    .detailInfo {
        background:#F2F2F2;
        height: 96px;
        width: 100%;
        padding: 8px;
        &__title {
            font-weight: bold;
        }
        @media screen and (min-width: 992px) {
            height: 112px;
            padding: 16px;
        }
    }
    .countBox {
        .input {
            background: #ffffff00;
            border: none;
            text-align: center;
            width: 40px;
        }
    }
    //- 總價錢區塊
    .totalInfo {
        .emptyBox {
            width: 0;
            @media screen and (min-width: 992px) {
                width: 112px;
            }
        }
        .textInfoBox {
            width: 100%;
            .btn {
                width: calc(100% - 96px);
                position: absolute;
                bottom: 54px;
                @media screen and (min-width: 992px) {
                    width: 100%;
                    position: relative;
                    bottom: 0;
                }
            }
        }
    }
}

//- 客製化 CheckBox
.checkBoxArea {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        .input {
            margin-right: 5px;
        }
        .label {
            margin-bottom: 0;
        }
        //- 客製化藍色的框
        .selectCheckBox {
            position: relative;
            margin-right: 5px;
            background-color: $primary;
            border-radius: 4px;
            border: none;
            width: 16px;
            height: 16px;
            transition: all .2s;
            text-align: center;
            &::before,
            &::after {
                position: absolute;
                width: 4px;
                background-color: #FFFFFF;
                box-sizing: border-box;
                display: inline-block;
                border-radius: 5px;
                transition: opacity ease .5;
                /* 設置轉換原點座標 */
                transform-origin:left top;
            }
            /* 短邊 */
            &::before {
                left: 0;
                top: 6px;
                transform: rotate(-45deg);
                z-index: 2;
            }
            /* 長邊 */
            &::after {
                left: 6px;
                top: 12px;
                transform: rotate(-135deg);
                z-index: 1;
            }
        }
        //- 注意 HTML 那邊的隱藏 Input 一定要在 Label 上面
        .input[type="checkbox"]:checked+.selectCheckBox::before {
            content: '';
            height: 8px;
            animation: do_before_check 0.2s ease 0s forwards;
        }
        .input[type="checkbox"]:checked+.selectCheckBox::after {
            content: '';
            height: 18px;
            animation: do_after_check 0.4s ease 0s forwards;
        }
    }
}

@keyframes do_before_check {
    0% {
        height: 0;
    }
    100% {
        height: 8px;
    }
}

@keyframes do_after_check {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 18px;
    }
}