<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- Menu -->
  <header class="menu d-flex ai-c jc-sb" id="menu">
    <!-- 漢堡鈕 -->
    <img class="d-block icon-menu cursor-pointer" id="iconMenu" onclick="iconMenuClick()" src="./assets/Images/icon-menu.svg" alt="icon-menu">
    <a href="./index.html">
      <h1 class="m-0">
        <img class="d-block img" src="./assets/Images/logo.png" alt="logo">
      </h1>
    </a>
    <ul class="ul list-style-none pl-0 m-0 d-flex ai-c">
      <li class="li">
        <a href="./product-op.html" class="hrefText">系列鏡框</a>
      </li>
      <li class="li">
        <a href="./location.html" class="hrefText">門市據點</a>
      </li>
      <li class="li">
        <a href="./blog.html" class="hrefText">部落格</a>
      </li>
      <li class="li">
        <a href="./FAQ.html" class="hrefText">常見問題</a>
      </li>
    </ul>
  </header>

  <%- contents %>

  <!-- Footer -->
  <footer class="footer">
    <div class="container d-flex ai-c jc-sb fw-w">
      <div class="infos">
        <ul class="menu__ul list-style-none pl-0 m-0 d-flex ai-c">
          <li class="li">
            <a href="./FAQ.html" class="hrefText">首頁</a>
          </li>
          <li class="li">
            <a href="./product-op.html" class="hrefText">系列鏡框</a>
          </li>
          <li class="li">
            <a href="./location.html" class="hrefText">門市據點</a>
          </li>
          <li class="li">
            <a href="./blog.html" class="hrefText">部落格</a>
          </li>
          <li class="li">
            <a href="./FAQ.html" class="hrefText">常見問題</a>
          </li>
        </ul>
      </div>
      <div class="icons">
        <ul class="ul list-style-none pl-0 m-0 d-flex ai-c">
          <li class="li">
            <img class="d-block icon" src="./assets/Images/icon-fb.svg" alt="icon-fb">
            <!-- <i class="fa-icon icon-fb icon"></i> -->
          </li>
          <li class="li">
            <img class="d-block icon" src="./assets/Images/icon-ig.svg" alt="icon-ig">
            <!-- <i class="fa-icon icon-ig icon"></i> -->
          </li>
          <li class="li">
            <img class="d-block icon" src="./assets/Images/icon-line.svg" alt="icon-line">
            <!-- <i class="fa-icon icon-line icon"></i> -->
          </li>
        </ul>
      </div>
      <div class="infosTwo">
        <ul class="imgTextUl list-style-none pl-0 m-0">
          <li class="li">
            <!-- <i class="fa-icon icon-phone icon"></i> -->
            <img class="d-block icon" src="./assets/Images/icon-phone.svg" alt="icon-phone">
            <span class="text">0800-000-000</span>
          </li>
          <li class="li">
            <!-- <i class="fa-icon icon-mail icon"></i> -->
            <img class="d-block icon" src="./assets/Images/icon-mail.svg" alt="icon-mail">
            <span class="text">glasses@business.com</span>
          </li>
        </ul>
      </div>
      <hr class="hr w-100">
      <div class="copyright d-flex ai-c jc-sb w-100">
        <div class="imgText d-flex ai-c">
          <img class="d-block img" src="./assets/Images/logo.png" alt="logo">
          <span class="text">Copyright © 2020 Glasses.All rights reserved.</span>
        </div>
        <ul class="ul list-style-none pl-0 m-0 d-flex ai-c">
          <li class="li">
            <a href="#" class="hrefText">隱私權政策</a>
          </li>
          <li class="li">
            <a href="#" class="hrefText">服務條款</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
<script src="./assets/JS/main.js"></script>
</html>
